# Projeto Dashboard Treino e Dieta - Gabriel Ferreira

## 1. Processso de ETL

In [1]:
# Instalando pacotes necess√°rios
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
# Carregando os dados
df = pd.read_csv('workouts.csv')

In [8]:
# Shape
df.shape

(9480, 14)

In [9]:
# Amostra dos dados
df.head(10)

,title,start_time,end_time,description,exercise_title,superset_id,exercise_notes,set_index,set_type,weight_kg,reps,distance_km,duration_seconds,rpe
0,Evening workout üèãÔ∏è,"7 Jan 2026, 19:48","7 Jan 2026, 20:14","Lower back, pantu e abs",Back Extension (Weighted Hyperextension),NaN,NaN,0,normal,40.00,8.0,NaN,NaN,NaN
1,Evening workout üèãÔ∏è,"7 Jan 2026, 19:48","7 Jan 2026, 20:14","Lower back, pantu e abs",Back Extension (Weighted Hyperextension),NaN,NaN,1,normal,42.50,7.0,NaN,NaN,NaN
2,Evening workout üèãÔ∏è,"7 Jan 2026, 19:48","7 Jan 2026, 20:14","Lower back, pantu e abs",Unilateral Calf Extension (Machine),NaN,NaN,0,normal,52.50,8.0,NaN,NaN,NaN
3,Evening workout üèãÔ∏è,"7 Jan 2026, 19:48","7 Jan 2026, 20:14","Lower back, pantu e abs",Unilateral Calf Extension (Machine),NaN,NaN,1,failure,52.50,8.0,NaN,NaN,NaN
4,Evening workout üèãÔ∏è,"7 Jan 2026, 19:48","7 Jan 2026, 20:14","Lower back, pantu e abs",Crunch Hammer Machine,NaN,NaN,0,normal,57.50,7.0,NaN,NaN,NaN
5,Evening workout üèãÔ∏è,"7 Jan 2026, 19:48","7 Jan 2026, 20:14","Lower back, pantu e abs",Crunch Hammer Machine,NaN,NaN,1,failure,57.50,7.0,NaN,NaN,NaN
6,Lower,"6 Jan 2026, 19:46","6 Jan 2026, 21:24",NaN,Hip Adduction (Machine),NaN,NaN,0,normal,90.00,5.0,NaN,NaN,NaN
7,Lower,"6 Jan 2026, 19:46","6 Jan 2026, 21:24",NaN,Hip Adduction (Machine),NaN,NaN,1,failure,90.00,5.0,NaN,NaN,NaN
8,Lower,"6 Jan 2026, 19:46","6 Jan 2026, 21:24",NaN,Hip Adduction (Machine),NaN,NaN,2,failure,86.25,6.0,NaN,NaN,NaN
9,Lower,"6 Jan 2026, 19:46","6 Jan 2026, 21:24",NaN,Straight Leg Deadlift,NaN,NaN,0,normal,100.00,7.0,NaN,NaN,NaN

In [10]:
# Tipo de dados
df.dtypes

title                object
start_time           object
end_time             object
description          object
exercise_title       object
superset_id         float64
exercise_notes       object
set_index             int64
set_type             object
weight_kg           float64
reps                float64
distance_km         float64
duration_seconds    float64
rpe                 float64
dtype: object

Observa-se que o start_time e end_time est√£o como object e deveriam ser datas.

In [11]:
# Colunas
df.columns

Index(['title', 'start_time', 'end_time', 'description', 'exercise_title',
       'superset_id', 'exercise_notes', 'set_index', 'set_type', 'weight_kg',
       'reps', 'distance_km', 'duration_seconds', 'rpe'],
      dtype='object')

In [14]:
# Cria√ß√£o do dicion√°rio de dados com a descri√ß√£o de cada vari√°vel
df_dict = {
    "title": "Nome do treino (Push, Pull, Legs, Push 1, Pull 1, Treino A, etc.",
    "start_time": "Data e hor√°rrio do in√≠cio do treino.",
    "end_time": "Data e hor√°rrio do final do treino.",
    "description": "Coment√°rios adicionados ao final do treino.",
    "exercise_title": "Nome do exerc√≠cio realizado.",
    "superset_id": "Index para identificar supersets.",
    "exercise_notes": "Anotacoes realizadas durante a realizacao do exercicio.",
    "set_index": "Numero da serie realizada",
    "set_type": "Tipo de serie (Normal, Failure, Warmup).",
    "weight_kg": "Carga levantado na serie.",
    "reps": "Numero de repeticoes realizadas na serie.",
    "distance_km": "Distancia em kilometros realizadas no exercicio cardiovascular",
    "duration_segundos": "Duracao em segundos do exercicio cardiovascular ou exercicio que e controlado por tempo.",
    "rpe": "Rating of Perceived Exertion = Escala de Esfor√ßo Percebido. Escala subjetiva para avaliar a intensidade do esfor√ßo no treino."
}

N√£o tem a necessidade de se obter o horario incial e final do treino juntamente com a data, portanto precisamos quebrar em uma coluna com a data do treino (data_treino) e tamb√©m o tempo de treino (horario do inicio_treino e final_treino).

### An√°lise Explorat√≥ria

In [16]:
# Verificando novamente tipo de dados
df.dtypes

title                object
start_time           object
end_time             object
description          object
exercise_title       object
superset_id         float64
exercise_notes       object
set_index             int64
set_type             object
weight_kg           float64
reps                float64
distance_km         float64
duration_seconds    float64
rpe                 float64
dtype: object

In [17]:
# Resumo estat√≠stico (vari√°veis num√©ricas)
df.describe()

,superset_id,set_index,weight_kg,reps,distance_km,duration_seconds,rpe
count,0.0,9480.000000,8776.00000,9151.000000,1.0,329.000000,0.0
mean,NaN,1.140506,52.49430,9.469238,5.0,1039.659574,NaN
std,NaN,1.180906,37.69122,2.975475,NaN,247.233633,NaN
min,NaN,0.000000,2.00000,4.000000,5.0,0.000000,NaN
25%,NaN,0.000000,21.25000,8.000000,5.0,900.000000,NaN
50%,NaN,1.000000,47.50000,9.000000,5.0,1200.000000,NaN
75%,NaN,2.000000,75.00000,11.000000,5.0,1200.000000,NaN
max,NaN,9.000000,285.00000,111.000000,5.0,1800.000000,NaN

In [19]:
# Visualizando o total de linhas por coluna
df.count()

title               9480
start_time          9480
end_time            9480
description         4278
exercise_title      9480
superset_id            0
exercise_notes      1068
set_index           9480
set_type            9480
weight_kg           8776
reps                9151
distance_km            1
duration_seconds     329
rpe                    0
dtype: int64

In [22]:
# Extraindo o total de valores ausentes por coluna
valores_ausentes = df.isnull().sum().sort_values(ascending = False)
print(valores_ausentes)

superset_id         9480
rpe                 9480
distance_km         9479
duration_seconds    9151
exercise_notes      8412
description         5202
weight_kg            704
reps                 329
title                  0
start_time             0
exercise_title         0
end_time               0
set_type               0
set_index              0
dtype: int64


superset_id == nunca utilizo ent√£o faz sentido estar com todos valores ausentes
rpe == mesmo do superset_id
distance_km == somente se colocar na esteira.. geralmente nao coloco pois fa√ßo por tempo
duration_seconds == duracao do cardio..s√≥ vai estar presente nos exercicios de cardio
exercise_notes == comentarios dos exercicios, nem sempre √© necess√°rio ter comentario
description == descri√ß√£o do treinamento, se coloca ao finalizar o treino, nem sempre tbm colocamos


weight_kg = alguns exercicios nao tem carga, como exercicios com peso corporal e cardio, mas irei analisar
reps = analisemos

In [34]:
# Valores ausentes coluna weight_kg
# Filtrando linhas onde 'wight_kg' √© NaN e n√£o s√£o cardio
exercicios_excluidos = ['Treadmill', 'Stair Machine (Floors)', 'Stair Machine (Steps)', 'Stair Machine','Spinning', 'Walking', 'Air Bike']

linhas_ausentes_carga = df[
    df['weight_kg'].isna() &
    ~df['exercise_title'].isin(exercicios_excluidos)
]

linhas_ausentes_carga

,title,start_time,end_time,description,exercise_title,superset_id,exercise_notes,set_index,set_type,weight_kg,reps,distance_km,duration_seconds,rpe
1678,Upper I,"26 May 2025, 19:46","26 May 2025, 21:23",NaN,Chest Dip (Assisted),NaN,NaN,0,normal,NaN,8.0,NaN,NaN,NaN
1679,Upper I,"26 May 2025, 19:46","26 May 2025, 21:23",NaN,Chest Dip (Assisted),NaN,NaN,1,failure,NaN,8.0,NaN,NaN,NaN
1737,Upper I,"19 May 2025, 19:54","19 May 2025, 21:43",NaN,Chest Dip (Assisted),NaN,NaN,1,failure,NaN,7.0,NaN,NaN,NaN
3092,Push 2 e Pull 2,"28 Dec 2024, 09:18","28 Dec 2024, 10:59",Pull 2,Romanian Chair Sit Ups,NaN,NaN,0,normal,NaN,9.0,NaN,NaN,NaN
3093,Push 2 e Pull 2,"28 Dec 2024, 09:18","28 Dec 2024, 10:59",Pull 2,Romanian Chair Sit Ups,NaN,NaN,1,normal,NaN,7.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9349,Treino A - Costas + Biceps,"27 Nov 2023, 17:19","27 Nov 2023, 18:18",NaN,Back Extension (Hyperextension),NaN,NaN,3,normal,NaN,10.0,NaN,NaN,NaN
9456,Treino A - Costas + Biceps,"21 Nov 2023, 17:54","21 Nov 2023, 18:48",NaN,Back Extension (Hyperextension),NaN,NaN,0,normal,NaN,10.0,NaN,NaN,NaN
9457,Treino A - Costas + Biceps,"21 Nov 2023, 17:54","21 Nov 2023, 18:48",NaN,Back Extension (Hyperextension),NaN,NaN,1,normal,NaN,10.0,NaN,NaN,NaN
9458,Treino A - Costas + Biceps,"21 Nov 2023, 17:54","21 Nov 2023, 18:48",NaN,Back Extension (Hyperextension),NaN,NaN,2,normal,NaN,10.0,NaN,NaN,NaN
9459,Treino A - Costas + Biceps,"21 Nov 2023, 17:54","21 Nov 2023, 18:48",NaN,Back Extension (Hyperextension),NaN,NaN,3,normal,NaN,10.0,NaN,NaN,NaN

In [35]:
# Visualizando onde temos valores ausentes
linhas_ausentes_carga = df[
    df['weight_kg'].isna() &
    ~df['exercise_title'].isin(exercicios_excluidos)
]

linhas_ausentes_carga['exercise_title'].value_counts()

exercise_title
Back Extension (Hyperextension)    201
Pull Up                             86
Knee Raise Parallel Bars            53
Leg Raise Parallel Bars              8
Bench Dip                            7
Decline Crunch                       4
Chin Up                              4
Chest Dip (Assisted)                 3
Romanian Chair Sit Ups               3
Decline Crunch (Weighted)            2
Squat (Smith Machine)                1
Squat (Bodyweight)                   1
Push Up                              1
Bicep Curl (Machine)                 1
Plank                                1
Name: count, dtype: int64

Back Extension (Hyperextension), Pull Up, Knee Raise Parallel Bars, Leg Raise Parallel Bars, Bench Dip, Decline Crunch, Chin Up, Chest Dip (Assisted),
Romanian Chair Sit Ups, Decline Crunch (Weighted), Squat (Bodyweight), Push Up  e Plank fazem sentido valores ausentes pois s√£o exercicios com peso do corpo apenas, mas Bicep Curl (Machine) n√£o e provavelmente o Squat (Smith Machine) foi um aquecimento sem carga, mas vamos analisar

In [38]:
# Filtrando esses dois exercicios com valores nulos em weight_kg
exercicios_interesse = [
    'Squat (Smith Machine)',
    'Bicep Curl (Machine)'
]

df[
    df['weight_kg'].isna() &
    df['exercise_title'].isin(exercicios_interesse)
]

,title,start_time,end_time,description,exercise_title,superset_id,exercise_notes,set_index,set_type,weight_kg,reps,distance_km,duration_seconds,rpe
5208,Perna Completo,"31 Jul 2024, 07:42","31 Jul 2024, 09:01",NaN,Squat (Smith Machine),NaN,NaN,0,warmup,NaN,30.0,NaN,NaN,NaN
6582,Costas + Biceps + Lombar - Treino 2,"14 May 2024, 11:11","14 May 2024, 12:36",NaN,Bicep Curl (Machine),NaN,NaN,2,failure,NaN,9.0,NaN,NaN,NaN

Confirmamos Smith Machine como aquecimento, mas provavelmente temos um erro no exercicio de biceps, pois √© uma s√©rie at√© a falha e o set_index √© 2, o que siginfica que √© a terceira s√©rie desse exercicio

In [39]:
# Analisando exatamente esse exercicio desse dia
df[
    (df['title'] == 'Costas + Biceps + Lombar - Treino 2') &
    (df['exercise_title'] == 'Bicep Curl (Machine)') &
    (df['start_time'].str.contains('14 May 2024'))
]

,title,start_time,end_time,description,exercise_title,superset_id,exercise_notes,set_index,set_type,weight_kg,reps,distance_km,duration_seconds,rpe
6580,Costas + Biceps + Lombar - Treino 2,"14 May 2024, 11:11","14 May 2024, 12:36",NaN,Bicep Curl (Machine),NaN,NaN,0,normal,54.0,12.0,NaN,NaN,NaN
6581,Costas + Biceps + Lombar - Treino 2,"14 May 2024, 11:11","14 May 2024, 12:36",NaN,Bicep Curl (Machine),NaN,NaN,1,failure,54.0,10.0,NaN,NaN,NaN
6582,Costas + Biceps + Lombar - Treino 2,"14 May 2024, 11:11","14 May 2024, 12:36",NaN,Bicep Curl (Machine),NaN,NaN,2,failure,NaN,9.0,NaN,NaN,NaN

Ap√≥s analise, comprovamos que de fato houve um erro na imputa√ß√£o manual, refletindo na aus√™ncia desse valor, que √© 54.0 kg

In [40]:
# Imputando o valor correto nessa s√©rie
df.loc[6582, 'weight_kg'] = 54.0

In [41]:
# Revalidando a serie correta
df[
    (df['title'] == 'Costas + Biceps + Lombar - Treino 2') &
    (df['exercise_title'] == 'Bicep Curl (Machine)') &
    (df['start_time'].str.contains('14 May 2024'))
]

,title,start_time,end_time,description,exercise_title,superset_id,exercise_notes,set_index,set_type,weight_kg,reps,distance_km,duration_seconds,rpe
6580,Costas + Biceps + Lombar - Treino 2,"14 May 2024, 11:11","14 May 2024, 12:36",NaN,Bicep Curl (Machine),NaN,NaN,0,normal,54.0,12.0,NaN,NaN,NaN
6581,Costas + Biceps + Lombar - Treino 2,"14 May 2024, 11:11","14 May 2024, 12:36",NaN,Bicep Curl (Machine),NaN,NaN,1,failure,54.0,10.0,NaN,NaN,NaN
6582,Costas + Biceps + Lombar - Treino 2,"14 May 2024, 11:11","14 May 2024, 12:36",NaN,Bicep Curl (Machine),NaN,NaN,2,failure,54.0,9.0,NaN,NaN,NaN

In [31]:
# Valores ausentes coluna REPS
# Filtrando linhas onde 'reps' √© NaN e n√£o s√£o cardio
exercicios_excluidos = ['Treadmill', 'Stair Machine (Floors)', 'Stair Machine (Steps)', 'Stair Machine','Spinning', 'Walking', 'Air Bike']

linhas_ausentes_repeticoes = df[
    df['reps'].isna() &
    ~df['exercise_title'].isin(exercicios_excluidos)
]

linhas_ausentes_repeticoes

,title,start_time,end_time,description,exercise_title,superset_id,exercise_notes,set_index,set_type,weight_kg,reps,distance_km,duration_seconds,rpe
7960,(S1 ) Peito + Triceps + Abs - Treino 1,"26 Feb 2024, 10:54","26 Feb 2024, 11:53",Treino 6,Plank,NaN,NaN,0,normal,NaN,NaN,NaN,48.0,NaN

OK faz sentido cardio sem valores em repeticoes, vamos analisar o abdominals

In [ ]:
# Remover espa√ßos em branco e ajustar capitaliza√ß√£o na coluna 'grupo_muscular'
df_hevy_dados['grupo_muscular'] = df_hevy_dados['grupo_muscular'].str.strip().str.lower()

# Filtrar linhas onde 'repeticoes' √© NaN e 'grupo_muscular' √© 'abdominals'
linhas_abdominals = df_hevy_dados[(df_hevy_dados['repeticoes'].isna()) & (df_hevy_dados['grupo_muscular'] == 'abdominals')]

# Exibindo a(s) linha(s) filtrada(s) com cabe√ßalhos
print(linhas_abdominals.to_string(index=False))

OK o exercicio plank (prancha) n√£o ter repeti√ß√µes

### Detec√ß√£o de Outliers

Somente temos a necessidade de detectar outliers nas colunas carga_kg, repeticoes e 1RM, as demais s√£o vari√°veis categ√≥ricas ou indices.

In [ ]:
# Fun√ß√£o para detectar outliers usando o m√©todo IQR
def detectar_outliers(df, coluna):
    Q1 = df[coluna].quantile(0.25)
    Q3 = df[coluna].quantile(0.75)
    IQR = Q3 - Q1
    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR
    
    outliers = df[(df[coluna] < limite_inferior) | (df[coluna] > limite_superior)]
    return outliers

In [ ]:
# Detectando e exibindo o total de outliers por coluna
colunas = ['carga_kg', 'repeticoes', '1RM']
for coluna in colunas:
    outliers = detectar_outliers(df_hevy_dados, coluna)
    print(f"Total de outliers em '{coluna}': {len(outliers)}")

In [ ]:
# Detectar e exibir outliers para a coluna 'carga_kg'
outliers_carga_kg = detectar_outliers(df_hevy_dados, 'carga_kg')

if not outliers_carga_kg.empty:
    print("Outliers em 'carga_kg (43) ':")
    print(outliers_carga_kg[['exercicio', 'data_treino', 'carga_kg', 'repeticoes', '1RM']])

Otulers em carga_kg -- OK Leg press √© um exercicio que de fato √© possivel levantar muito peso (absoluto) relacionado aos demais exercicios

In [ ]:
# Detectar e exibir outliers para a coluna '1RM'
outliers_1RM = detectar_outliers(df_hevy_dados, '1RM')

if not outliers_1RM.empty:
    print("Outliers em '1RM (44)':")
    print(outliers_1RM[['exercicio', 'data_treino', 'carga_kg', 'repeticoes', '1RM']])

OK - legpress pelo mesmo motivo da carga

In [ ]:
# Detectar e exibir outliers para a coluna 'repeticoes'
outliers_repeticoes = detectar_outliers(df_hevy_dados, 'repeticoes')

if not outliers_repeticoes.empty:
    print("Outliers em 'repeticoes (209) ':")
    print(outliers_repeticoes[['exercicio','carga_kg', 'repeticoes', '1RM']])

Muitos registros.. vamos montar um plot

In [ ]:
# Gr√°fico
dados_repeticoes = df_hevy_dados['repeticoes'].dropna()
plt.figure(figsize=(8, 6))
sns.boxplot(y=dados_repeticoes)
plt.title("Boxplot Repeti√ß√µes com Outliers")
plt.ylabel("Repeti√ß√µes")
plt.show()

Vemos um registro com mais de 100 repeticoes e alguns detectados como outliers entre 25 e 35.. vamos analisar os 50 primeiros.

In [ ]:
top_50_outliers_repeticoes = outliers_repeticoes.sort_values(by='repeticoes', ascending=False).head(50)
print(top_50_outliers_repeticoes[['exercicio', 'data_treino', 'carga_kg', 'repeticoes',]])

Temos um valor incorreto que seria 111 repeti√ß√µes. Os demais exercicios est√£o OK pois foram ou panturilha o que exige as vezes maior numero de repeti√ß√µes ou em semanas com carga baixa e altas repeti√ß√µes.

Somenta a linha 4339 temos um valor incorreto que seria 111. Na realidade s√£o 11 repeti√ß√µes

In [ ]:
# Corrigir o valor na coluna 'repeticoes' para a linha 4339
df_hevy_dados.at[4339, 'repeticoes'] = 11

In [ ]:
# Exibir a linha ap√≥s a corre√ß√£o para confirmar a altera√ß√£o
print("\nAp√≥s a corre√ß√£o:")
print(df_hevy_dados.loc[4339, ['exercicio', 'data_treino', 'carga_kg', 'repeticoes']])

In [ ]:
# Grafico
dados_repeticoes = df_hevy_dados['repeticoes'].dropna()
plt.figure(figsize=(8, 6))
sns.boxplot(y=dados_repeticoes)
plt.title("Repeticoes sem Outliers")
plt.ylabel("Repeti√ß√µes")
plt.show()

### Analise Final

In [ ]:
df_hevy_dados.sample(50)

In [ ]:
# Reorganizando colunas
nova_ordem_colunas = [
    'data_treino', 'tempo_treino', 'treino', 'descricao_treino',
    'exercicio', 'serie', 'tipo_serie', 'carga_kg', 'repeticoes',
    '1RM', 'grupo_muscular', 'anotacoes_exercicios', 'ciclo'
]

df_hevy_dados = df_hevy_dados[nova_ordem_colunas]

In [ ]:
df_hevy_dados.sample(10)

In [ ]:
# Salvar o DataFrame transformado em um novo arquivo
df_hevy_dados.to_csv('etl_dfhevy.csv', index=False)